
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');

:root{
  --primary-color:#ffd900;
  --secondary-color:#ffd9008f;
  --bg-color:#f4f4f4;
  --text-color:#333;

  --heading-size:2.5rem;
  --sub-heading-size:2rem;
  --text-size:1rem;

  --font-family:'Poppins', sans-serif;
}

*{
  padding: 0;
  margin:0;
  font-family: var(--font-family);
  box-sizing: border-box;
}
body{
  scroll-behavior: smooth;
  background-color: var(--bg-color);
  color:var(--text-color);
}

p,a{
  font-size: var(--text-size);
  line-height: 1.2;
}
a{
  text-decoration: none;
}
header{
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--primary-color);
  position: fixed;
  top:0;
  left:0;
  z-index: 100;
}

header a h2 {
  font-size: var(--sub-heading-size);
  color:#B51D46 ;
}
header a h2 span {
  color: #9EC7CB;
  font-style: italic;
}

header ul {
  list-style: none;

}

header ul li{
  display: inline;

}

header ul li i{
  color:var(--text-color);
  font-style: 1.5rem;
  margin: 0 5px;
}

header nav ul li a{
  padding: 10px 15px;
  color: rgb(145, 41, 41);
  transition: .3s linear;
}

header nav ul li a:hover{
  color: var(--bg-color);
}

#menuToggle{
  display: none;
}


.settingBox{
  position: fixed;
  top: -1000px;
  right: 10px;
  min-width: 300px;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 20px;
  z-index: 2;
  background-color: var(--primary-color);
  border-radius: 20px;
  transition: .4s linear;
}
.settingBoxActive{
  top: 85px;
}
.settingBox img{
  width: 150px;
  height: 100px;
  padding: 10px;
  user-select: none;
}

@media screen and (max-width:768px){
  header nav {
  position: fixed;
  top: -1000px;
  left: 0;
  width: 100%;
  height: auto;
  padding: 20px;
  background-color: var(--primary-color);
  transition: .4s linear;

}
header nav ul li{
  display: block;
  text-align: center;
  margin: 20px 0;
}

header nav ul li a{
  padding: 25px 0px;
}
#menuToggle{
  display: inline;
  color:#B51D46;
}
.navActive{
  top: 80px !important;
}
}

/* landing */
main{
  margin-top: 80px;
}
#landing{
  width: 100%;
  min-height: 90vh;
  position: relative;
}
#landing img{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  object-fit: cover;
  object-position: center;
}

#landing .hoverBox{
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height: 100%;
  z-index: 1;
  background-color: #1e1d1d9d;
}

/* dark */
.dark{
  background-color: #0d0f0f;
  color: #D6EFC7;
}

/* scrollTop */
.scrollTop{
  position: fixed;
  right: 10px;
  bottom: -100px;
  z-index: 100;
  background-color: var(--primary-color);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  


}
.scrollTop i{
  font-size: 25px;
  color: #B51D46;
}
.search{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index:1;
  text-align: center;

}

.search h1{
  text-transform: uppercase;
  font-size: 40px;
  letter-spacing: 5px;
  margin: 10px 0;
  color: var(--bg-color);
  text-shadow: 0px 1px .5px #333;
}
.search input{
  width: 350px;
  height: 45px;
  font-size: 20px;
  padding: 0 10px;
  color:var(--text-color);
  background-color: var(--bg-color);
  border: none;
  border-radius: 8px;
}

#popular{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 30px;
}

#popular h1{
  font-size: 30px;
    text-transform: uppercase;
  letter-spacing: 3px;
  margin-top: 20px;
}
#popular .movie-container{
  width: 80%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 20px;
}

#popular .movie-container .card{
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  min-height: 400px;

}
#popular .movie-container .card .imgBox{
  width: 100%;
  height: 70%;
  overflow: hidden;
}
#popular .movie-container .card .imgBox img{
  width: 100%;
  height: 100%;
  transition: .3s ease;

}
#popular .movie-container .card .imgBox img:hover{
  transform: scale(1.2);
}

#popular .movie-container .card .details{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  height: 30%;
}
#popular .movie-container .card .details h3{
  font-size: 25px;
  letter-spacing: 3px;
}
#popular .movie-container .card .details span {
  background-color: var(--primary-color);
 width:30px;
 height: 30px;
 border-radius:50%;
text-align: center;

}

#popular .movie-container .card .overView{
  position: absolute;
  bottom: -1000px;
  left: 0px;
  width: 100%;
  height: 70%;
  padding: 20px;
 background-color: #F5FEFd;
 color: #3f5e5f;
  z-index: 1;
  overflow: scroll;
transition: .4s linear;
}
#popular .movie-container .card:hover .overView{
  bottom: 0;
}
#popular .movie-container .card .overView h5{
font-size: 24px;
margin: 10px;
}

#popular .movie-container .card .overView p{
  margin: 10px 0;
}

@media screen and (max-width:900px) {
  #popular .movie-container{
    width: 90%;
    grid-template-columns:1fr 1fr;
  }

}
@media screen and (max-width:600px) {
  #popular .movie-container{
    width: 95%;
    grid-template-columns:1fr;
    
  }
  
}